:root {
  --yellow: #fccd35;
  --pink: #000000;
  --green: #490052;
  --white: #16887e;
  --light-grey: #b1b1b1;
  --dark-grey: #2b2b2b;
  --black: #000000;
  --blue : #0000ff;
  --navy : #000080;
  --teal : #004680;
}
